{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <main class="form-signin w-100 m-auto">
       
        <h4>{{ 'Register' | trans }}</h4>

        {{ form_errors(registrationForm) }}
        {{ form(registrationForm) }}
        
    </main>
    
{% endblock %}
