body {
    background-color: #F3F3F3;
    padding-top: 5.5rem;
    padding-left: 12px;
}

.btn-action {
  padding:2px;
}

.btn-primary,.btn-primary:visited {
  background-color: #FF7848;
  border-color: #FF7848;
}

.btn-primary:hover, 
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled
{
    background-color:  #e06336; 
    border-color: #e06336;
    color:#dddddd;
}

.body-connected {
  padding-top: 3.5rem !important;
/*  padding-left: 220px; */
}
  
.table-container-medium {
  padding: 2rem;
  max-width: 1000px;
}


.home-button {
  border: 2px solid #808080;
  width: 34px;
  border-radius: 5px;
  padding-left: 5px;
}
.table-border {
  border:1px solid #e0e0e0;
}

.table-head {
  --bs-table-bg: #e0e0e0;
}

.active>.page-link, .page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #FF7848;
  border-color: #FF7848;
}

.table-th {
  font-weight: normal;
}

.pagination {
  --bs-pagination-color: #000000;
}

.sortable{
  font-weight: normal;
  color: #000000;
}

.form-medium {
  max-width: 550px;
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 10px;
}

.form-large {
  max-width: 800px;
  min-width: 650px;
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 10px;
}

.subform-large {
  background-color: #ebebeb;
  border-radius: 5px;
  padding:5px;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
    background-color: #dddddd;
    border-radius: 10px;
  }

.form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.button-corail {
    background-color: #FF7848;
    color:#ffffff;
}

.button-corail:visited{
  background-color:  #FF7848; 
  color:#ffffff;
}

.button-corail:hover, 
.button-corail:active,
.button-corail:disabled,
.button-corail:focus{
    background-color:  #e06336; 
    color:#dddddd;
}

.toggle-password-button-login {
  /* Ajoutez vos styles personnalisés ici */
  margin-top: 30px;
}

.site-header {
  background-color: #ffffff;
  font-size: 18px;
  border-bottom: 1px solid #dddddd;
}

.site-footer {
  background-color: #ffffff;
  font-size: 18px;
  border-top: 1px solid #dddddd;
}

.menu-actif {
  color:#595959;
  font-weight: bold;
}
.menu-actif:hover {
  color:#595959;
  font-weight: bold;
  text-decoration: underline;
}
.menu-inactif {
  color:#595959;
}
.menu-inactif:hover {
  color:#e0e0e0;
  text-decoration: underline;
}

.left-menu {
  margin-top: 3.7rem !important;
  width:fit-content;
  min-width: 180px;
  z-index: 0;
  background-color: #e0e0e0;
}

.href-notextdecoration  {
  text-decoration: none !important;
}

.dropdown-toggle { outline: 0; }

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: var(--bs-emphasis-color);
  background-color: transparent;
  padding: 0px 10px 0px 5px;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
  background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: var(--bs-tertiary-bg);
}

.alert {
  margin: 30px auto;
  max-width: 800px;
  min-width: 650px;
}

.field-info {
  font-size: 12px;
  font-style: italic;
  margin: -15px 0px 15px 0px;

}

.check-link-off {
  font-size: 24px;
  color:#d9d9d9;
  font-weight: bold;
}
.check-link-view {
  font-size: 24px;
  color:#2cb12c;
  opacity:0.3;
  font-weight: bold;
}
.check-link-edit {
  font-size: 24px;
  color:#2cb12c;
  font-weight: bold;
}

.custom-head {
  font-size: 15px;
  font-weight: normal;  
  border-bottom: 1px solid #595959;
}

.custom-td {
  line-height:18px;
}

.btn-form-collection{
  margin-left: 0px;
}

.form_collection {
  display:ruby;
  background:transparent;
  border:0px;
}

/*******************************************************************************/

.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #d3d3d3 !important;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 70px 0px 0px 0px;  /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}


/* The button used to open the sidebar */
.openbtn {
  font-size: 32px;
  cursor: pointer;
  border: none;
  color:#808080;
  padding:2px;
}

.openbtn:hover {
  color:#c0c0c0;
}

#main {
  transition: margin-left .5s; /* If you want a transition effect */
}
